bin/
obj/
app/build/
app/publish/

.vs/
*.vsix

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
.vscode/
*.code-workspace

.DS_Store
Thumbs.db

*.tar
docker-compose.override.yml
**/Dockerfile*

*.log
logs/

Migrations/

.aws-sam/
.aws/

*.yml~

secrets.json
*.secrets.json

publish/
*.publish/

.env
.env.*
*.db
*.sqlite
node_modules/
npm-debug.log
yarn-error.log

__EFMigrationsHistory/

coverage/
coverage*.json
*.lcov
*.lcov.info

.idea/

Generated_Code/
